<% provide(:title, 'Log in') %>

<center> 
	<%= image_tag 'UCloud-logo-TEMP!!!!.png', size: '160x100' %>

	<p style='font-size:28px'>One account. All of UCloud.</p>
	<p style='font-size:18px'>Sign in to continue to UCloud.</p>
	<br>
	<div class='container' style='width:300'>
		<div class='jumbotron'>
			<%= form_for :login, url: login_path do |f| %>
				<%= f.email_field :email, class: 'form-control', placeholder: 'Enter your email'%><br>
				<%= f.password_field :password, class: 'form-control', placeholder: 'Password'%><br>

				<%= f.submit 'Sign in', class: 'btn btn-primary form-control'%>
			<% end %>
		</div>
	</div>
	<%= link_to 'Create account', controller: 'users', action: 'new'%>

</center>

