<% provide(:title, 'Create account') %>

<center> 
	<%= image_tag 'UCloud-logo-TEMP!!!!.png', size: '160x100' %>

	<div class='container' style='width:300'>
		<div class='jumbotron'>
			<%= form_for @user, url: signup_path do |f| %>
		    	<%= f.text_field :username, placeholder: 'Choose a user name', class: 'form-control' %>
		    	<br>

		      	<%= f.email_field :email, placeholder: 'Enter your email', class: 'form-control' %>
		      	<br>

		      	<%= f.password_field :password, placeholder: 'Enter a password', class: 'form-control' %>
		      	<br>

		      	<%= f.password_field :password_confirmation, placeholder: 'Confirm your password', class: 'form-control' %>
		      	<br>

		      	<%= f.submit 'Create my account', class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>

</center>