
<div id="wrapper" class="active">

      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><div class="nav-logo">UCloud</div></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
          <li class = "google-accounts">
            <div class ="Google-Div">
            <div class= "Google-text">Google</div>
              <a href="auth/google_oauth2"><button type="button" id="plus-button" class="btn btn-success"><p class="plus-tag">+</p></button></a>

            <!-- <div class ="add-google-account">+</div>  -->
           <!--  <ul class = "list-of-sub-accounts">
                <li class ="sub-accounts"> wasae.ucloud </li>
                <li class ="sub-accounts"> wasaequreshi </li>

            </ul> -->

                <% if !@gSpace.nil? %>
                    <div>Space: <%= @gSpace =%> MB</div>
                <% end %>
            </div>
          </li>
          <li class = "dropbox-accounts">
            <div class= "Dropbox-Div">
            <div class = "dropbox-text">Dropbox</div>
               <a href="auth/dropbox_oauth2"><button type="button" id="plus-button" class="btn btn-success"><p class="plus-tag">+</p></button></a>
            <!--  <ul class = "list-of-sub-accounts">
                <li class ="sub-accounts"> wasae.ucloud </li>
            </ul> -->

                <% if !@dSpace.nil? %>
                    <div>Space: <%= @dSpace =%> MB</div>
                <% end %>
            </div>
          </li>

          <li class = "onedrive-accounts">
            <div class= "onedrive-Div">
            <div class = "onedrive-text">Transfer Files</div>
            </div>
          </li>
          <li class = "upload-files">
            <div class= "upload-Div">
            <div class = "upload-text">Upload</div>
            </div>
          </li>
          <li class = "logout-accounts">
            <div class= "logout-Div">
            <a href="logins/destroy"><div class = "logout-text">Logout</div></a>
            </div>
          </li>
        </ul>
      </div>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">

            <center><div class="upload-div">
                <div><form action="/homepage/upload"
                  class="btn btn-default btn-file dropzone"
                  id="my-dropzone"></form></div>
                  <div><select id="account-option-upload">
                    <% if !@current_user.nil? and !@current_user.google_auth_hash.nil? and !@current_user.google_auth_hash.empty? and @googleFiles.any? %>
                        <option value="email"><%= @demail =%> - <%= @dbprovider =%></option>
                    <% end %>
                    <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? %>
                        <option value="email"><%= @gemail =%> - <%= @gprovider =%></option>
                    <% end %>
                    <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? and !@current_user.google_auth_hash.nil? and !@current_user.google_auth_hash.empty? and @googleFiles.any? %>
                        <option > split file </option>
                    <% end %>
                    <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? and !@current_user.google_auth_hash.nil? and !@current_user.google_auth_hash.empty? and @googleFiles.any? %>
                        <option > mirror file </option>
                    <% end %>
                    </select></div>
      <div><button type="button" id="upload-button" class="btn btn-success" onclick="upload_file()"><p class="upload-tag">Upload</p></button></div>
            </div></center>

          <div class="row">
              <div class="col-md-12">

                <div id="google-files">
                 <div><select id="account-option-google" onchange="leftpane_switch_account()">
                     <!-- <option value="" disabled selected style="display:none;">Label</option> -->
                     <option value="Options">Select account</option>
                    <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? %>

                      <% @google_accounts.each do |item| %>

                      <option value="email"><%= item[0] =%> - <%= item[1] =%></option>

                      <% end %>

                    <% end %>

                  </select></div>
                <div><h4><br><%= image_tag 'Drive-Logo.png', width:'30' %>
                                Google Files</h4></div>
                        <div class='col-sm-4' >
                    <!-- Google Stuff -->
                            <% if !@current_user.nil? and !@current_user.google_auth_hash.nil? and !@current_user.google_auth_hash.empty? and @googleFiles.any? %>
                                <ul id="g-files" class = "connectedSortable">
                                <% @googleFiles.each do |file| %>
                                    <li id="<%= file.id %>" class="Google" > <%= file.name %> | <%= file.modified %> | <%= file.size %>KB</li>
                                <% end %>
                                </ul>

                                <!-- <button class ="btn btn-default">
                                    # <%= link_to "Move File to Google", action: "moveFirstFileDropboxToGoogle" %>
                                </button> -->
                            <% end %>
                        </div>

              </div>

              <div id="dropbox-files">
                 <div><select id="account-option-dropbox" onchange="rightpane_switch_account()">
                      <!-- <option value="" disabled selected style="display:none;">Label</option> -->
                      <option value="Options">Select account</option>
                    <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? %>

                      <% @dropbox_accounts.each do |item| %>

                        <option value="email"><%= item[0] =%> - <%= item[1] =%></option>

                      <% end %>

                    <% end %>
                  </select></div>
                <div><h4><br><%= image_tag 'DropBox-logo.png', width:'30' %>
                                Dropbox Files</h4></div>
                        <div class='col-sm-4' >
                    <!-- DropBox Stuff -->
                            <% if !@current_user.nil? and !@current_user.dropbox_auth_hash.nil? and !@current_user.dropbox_auth_hash.empty? and @dropboxFiles.any? %>
                                <ul id="db-files" class = "connectedSortable">
                                <% @dropboxFiles.each do |file| %>
                                    <li id="<%= file.id %>" class="Dropbox"><%= file.name %> | <%= file.modified %> | <%= file.size %>KB</li>
                                <% end %>
                                </ul>

                                <!-- <button class ="btn btn-default">
                                    # <%= link_to "Move File to Google", action: "moveFirstFileDropboxToGoogle" %>
                                </button> -->
                            <% end %>
                        </div>
              </div>
            <iframe id="my_iframe" style="display:none;"></iframe>

            </div>
          </div>
        </div>
      </div>
    </div>