.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

/*#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}*/
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.upload-div {
  display: inline-block;
}
.upload-div 
{
  float: inline-block;
}
/*.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}*/

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 50px;
  line-height: 60px;
  font-size: 18px;
}


.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
.sub-accounts 
{
    color:#FFF;
    list-style-type: none;
    text-align: right;

}
.sub-accounts:active
{
    opacity: .5;
}
ul {
    display: block;
    float: left;
    text-decoration: none;

}

.list-of-sub-accounts
{
    list-style:none;
    padding-left:0;
      display: inline-block;
width: 145px;

}
.google-accounts
{
    display: block;
}
.dropbox-accounts
{
}
.onedrive-accounts
{

}
.add-google-account 
{
    
    width:20%;
    color: #999999;
    position: absolute;
    display: inline;
    /*float: right;*/
    /*padding-right: 20px;*/
    

}
#plus-button
{
    position: absolute;
    display: inline;
    right: 10px;
    vertical-align: middle;
    margin-top: 9px;
    border-radius: 20px;
/*    line-height: 1;*/
/*    font-size: 10px;
*/
    height: 25px;
    width: 25px;
}
#upload-button 
{
 
    vertical-align: middle;
    margin-top: 9px;
    border-radius: 20px;
}
#account-option-upload
{
    margin-top: 10px;
}
#my-dropzone
{
  margin-top: 10px;
}
.plus-tag
{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -2.5px;

}
.upload-tag
{
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-top: 7px;
    margin-left: -2.5px;

}

.Google-text
{
    float: left;
    width:80%;
    color: #999999;

}
.dropbox-text
{
    float: left;
    width:80%;
    color: #999999;
}
.onedrive-text
{
    float: left;
    width:80%;
    color: #999999;
}
.upload-text
{
    float: left;
    width:80%;
    color: #999999;
}

.logout-text
{
   float: left;
    width:80%;
    color: #999999;
}
.account-type
{
    float:left;
}
.add-dropbox-account
{
    float: left;
    z-index: 50;
    /*width:50%;*/
    color: #999999
}

.nav-logo
{
    float: left;
    z-index: 50;
    width:50%;
    color: #999999
    /*float: right;*/
}
.Google-Div
{
    overflow:hidden;
    /*display: inline-block;*/

}
.col-sm-4
{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  position: absolute;
  display: inline-block;

}

#google-files
{
  padding-bottom: 10px;
  float: left;
  width: 50%;

}

#dropbox-files
{
    padding-bottom: 10px;
    float: left;
    width: 50%;

}

li {
    list-style-type: none;
    text-indent: -40px;
}

.context-menu-item
{
  text-indent: -10px;
}